# Import Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Load or Read-in the datasets

In [3]:
customer_data = pd.read_csv('Customer.csv')
employment_data = pd.read_csv('employment_status.csv')
income_data = pd.read_csv('Income_group.csv')
transactions_data = pd.read_csv('transactions.csv')

# Data preprocessing

In [4]:
# Changes column headers to upper_case
income_data.columns = income_data.columns.str.upper()
print(income_data.head())

   INCOME_GROUP_CODE INCOME_GROUP_DESC
0                  0      NOT SUPPLIED
1                  1         R 0 - 499
2                  2        R500 - 999
3                  3    R1,000 - 1,999
4                  4    R2,000 - 2,999

# Merge Tables

In [ ]:
merged_data = customer_data.merge(transactions_data, on='CUSTOMER_IDENTIFIER', how='left')

print(merged_data.head(5))

In [9]:
final_merged_data=merged_data.merge(income_data,on='INCOME_GROUP_CODE',how='left')
print(final_merged_data.head(5))

                                 CUSTOMER_IDENTIFIER DATE_LAST_UPDATED  \
0  ID_00a7d65f82a6819e79c29a84e805777f0265308b655...           2022-09
1  ID_00a7d65f82a6819e79c29a84e805777f0265308b655...           2022-09
2  ID_09651edcac6c55a5e401062b0c0ef7bbba3f3e49538...           2022-09
3  ID_09651edcac6c55a5e401062b0c0ef7bbba3f3e49538...           2022-09
4  ID_09651edcac6c55a5e401062b0c0ef7bbba3f3e49538...           2022-09

   SEX_CODE  INCOME_GROUP_CODE  NUMBER_OF_ACCOUNTS  OCCUPATIONAL_STATUS_CODE  \
0         1                  6                   4                         7
1         1                  6                   4                         7
2         0                  7                  10                         3
3         0                  7                  10                         3
4         0                  7                  10                         3

   AGE TRANSACTION_DESCRIPTION                RECORD_DATE  \
0   51       CASH ACCEPTOR DEP  2022-08-31 00:00:00+02:00
1   51          ATM WITHDRAWAL  2022-08-31 00:00:00+02:00
2   32                     NaN  2022-04-29 00:00:00+02:00
3   32                     NaN  2022-05-05 00:00:00+02:00
4   32          ATM WITHDRAWAL  2022-08-30 00:00:00+02:00

                                   ACCOUNT_TYPE_CODE  ACCOUNT_BALANCE  \
0  e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae...           100.00
1  e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae...            50.00
2  e17913461e7c03cd0f2c1ac41584dcd801cb32e7f86ad9...          5511.00
3  e17913461e7c03cd0f2c1ac41584dcd801cb32e7f86ad9...           903.17
4  e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae...          6655.01

       AMT  EVENT_NUMBER PRODUCT_CODE CHANNEL  \
0   100.00            24         CHEQ     atm
1   -50.00            25         CHEQ     atm
2  5503.62          1020         SAVE  teller
3  -540.00          1059         SAVE  system
4  -500.00           125         CHEQ     atm

                                      ACCOUNT_NUMBER  \
0  678bf23c221a8e747af3a6003c80d496649c5cdc1e1fc0...
1  678bf23c221a8e747af3a6003c80d496649c5cdc1e1fc0...
2  00c6c13e3a65de8a170c6d8a16412e6f6bd6be5d708251...
3  00c6c13e3a65de8a170c6d8a16412e6f6bd6be5d708251...
4  00c6c13e3a65de8a170c6d8a16412e6f6bd6be5d708251...

                               TRANSACTION_REFERENCE INCOME_GROUP_DESC
0  f90ddd77e400dfe6a3fcf479b00b1ee29e7015c5bb8cd7...    R4,000 - 4,999
1  f90ddd77e400dfe6a3fcf479b00b1ee29e7015c5bb8cd7...    R4,000 - 4,999
2                                                NaN    R5,000 - 5,999
3                                                NaN    R5,000 - 5,999
4  f90ddd77e400dfe6a3fcf479b00b1ee29e7015c5bb8cd7...    R5,000 - 5,999

In [ ]:
final_merged_data.info()

In [44]:
transactions_data['RECORD_DATE'] = pd.to_datetime(transactions_data['RECORD_DATE'])
transactions_data['month'] = transactions_data['RECORD_DATE'].dt.month
transactions_data['day_of_week'] = transactions_data['RECORD_DATE'].dt.dayofweek

In [ ]:
transactions_data.info()

# Check for null values on final_merged_data

In [79]:
null_counts = final_merged_data.isnull().sum()

# Display the columns with null values and their corresponding counts
print(null_counts)

CUSTOMER_IDENTIFIER         0
DATE_LAST_UPDATED           0
SEX_CODE                    0
INCOME_GROUP_CODE           0
NUMBER_OF_ACCOUNTS          0
OCCUPATIONAL_STATUS_CODE    0
AGE                         0
TRANSACTION_DESCRIPTION     0
RECORD_DATE                 0
ACCOUNT_TYPE_CODE           0
ACCOUNT_BALANCE             0
AMT                         0
EVENT_NUMBER                0
PRODUCT_CODE                0
CHANNEL                     0
ACCOUNT_NUMBER              0
INCOME_GROUP_DESC           0
dtype: int64

In [78]:
# Checking for duplicate rows in the 'final_merged_data' DataFrame
duplicate_rows = final_merged_data.duplicated()

# Counting the number of duplicate rows
num_duplicates = duplicate_rows.sum()

# Displaying the duplicate rows
duplicate_data = final_merged_data[duplicate_rows]
print(duplicate_data)

Empty DataFrame
Columns: [CUSTOMER_IDENTIFIER, DATE_LAST_UPDATED, SEX_CODE, INCOME_GROUP_CODE, NUMBER_OF_ACCOUNTS, OCCUPATIONAL_STATUS_CODE, AGE, TRANSACTION_DESCRIPTION, RECORD_DATE, ACCOUNT_TYPE_CODE, ACCOUNT_BALANCE, AMT, EVENT_NUMBER, PRODUCT_CODE, CHANNEL, ACCOUNT_NUMBER, INCOME_GROUP_DESC]
Index: []

# Drop Transaction Reference column

In [10]:
final_merged_data.drop('TRANSACTION_REFERENCE', axis=1, inplace=True)

# Fill in null values in transaction description

In [11]:
final_merged_data['TRANSACTION_DESCRIPTION'].fillna('NO DESCRIPTION', inplace=True)

In [12]:
final_merged_data.to_csv('absa_df.csv', index=False)